@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: #212529;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h2{
    color: #ffb742;
    font-weight: 600;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a{
    color: #ffb742;
}

.navbar ul li:last-child a{
    margin: 0;
}

.hire-btn{
    background: #ffb742;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.hire-btn:hover{
    background: #fb8c00;
}

.main{
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    color: #fff;
}
    
.Home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #fb8c00;
}

.Home-content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.Home-content p{
    font-size: 1.4rem;
    text-align: justify;
    margin-right: 50px;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width:32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #fb8c00;
}

.home-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #fb8c00;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #fb8c00;
}

.home-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #fb8c00;
    box-shadow: 0  0 25px #fb8c00;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #fb8c00;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
